a {
	text-decoration: none;
	color: #DDDDDD;
}

.body {
  width: 100%;
}

.mainContainer {
  width: 100%;
  background-color: #DDDDDD;
}

.header {
  width: 100%;
}

.navigation {
	display: flex;
	background-color: #888888;
}

.navigation div {
	width: 20%;
	text-align: center;
	background-color: inherit;
}

.mainPage {
  width: 90%;
  margin-left: 5%;
  background-color: #856FA9D;
}

#workField {
  width: 80%;
  left: 10%;
  top: 10%;
}

#fieldTable td {
  background-color: #65812A;
  padding: 15%;
}

.footer {
  width: 100%;
  background-color: #888888;
  text-align: center;
}

.footer h3 {
	color: #DDDDDD;
	padding-top: 2%;
	padding-bottom: 2%;
}
